@import "variables";

.title {
    text-align: center;
    margin-bottom: 5rem;

    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-weight: 500;
    }
}

.product-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.product-item {
    position: relative;
    width: 27rem;
    margin: 0 auto;
    margin-bottom: 3rem;

    .icons {
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;

        li {
            background-color: var(--white);
            text-align: center;
            padding: 1rem 1.5rem;
            font-size: 2.3rem;
            cursor: pointer;
            transition: 300ms ease-out;
            transform: translateY(20px);
            visibility: hidden;
            opacity: 0;

            &:first-child {
                transition-delay: 0.1s;
            }

            &:nth-child(2) {
                transition-delay: 0.2s;
            }

            &:nth-child(3) {
                transition-delay: 0.3s;
            }
        }

    }

    &:hover .icons li {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .overlay {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:  rgba(0, 0, 0, 0.5);
            visibility: hidden;
            opacity: 0;
            transition: 300ms ease-out;
        }
    }

}

.product-item:hover .overlay::after {
    visibility: visible;
    opacity: 1;
}

.product-thumb img {
    width: 100%;
    height: 31rem;
    object-fit: cover;
    transition: all 500ms linear;
}

.product-item:hover .product-thumb img {
    transform: scale(1.1);
}


.product-info {
    padding: 1rem;
    text-align: center;

    span {
        display: inline-block;
        font-size: 1.2rem;
        color: #667;
        margin-bottom: 1rem;
    }

    a {
        font-size: 1.5rem;
        display: block;
        margin-bottom: 1rem;
        transition: all 300ms ease;

        &:hover {
            color: var(--yellow);
        }
    }
}