@import "variables";

.bg-main {
    background-color: var(--white);
}

.box {
    padding: 20px;
}


.btn-flat {
    display: inline-block;
    border: 2px solid var(--black);
    background-color: var(--black);
    color: var(--white);
    padding: 15px 35px;
    font-size: 15px;
    outline: 0;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}


.btn-hover {
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--white);
        color: var(--black);
    }
}


.container-main {
    max-width: 1366px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}

.mb-menu-toggle {
    font-size: 25px;
}

.breadcumb {

    font-weight: 600;
    padding-left: 20px;

    a {
        text-transform: capitalize;

        &:hover {
            color: var(--red);
        }
    }

    span {
        margin: 0 15px;
    }

}

/* Start Filter */

.filter-header {
    display: block;
    margin: 20px 0;
    font-weight: 600;
    text-transform: capitalize;
}

.filter-list {

    li {
        margin-bottom: 20px;
    }
}

.filter-toggle-box {
    display: none;
}


/* End Filter*/

.price-range {

    display: flex;
    align-items: center;
    justify-content: center;

    span {
        flex-grow: 1;
        text-align: center;
        margin: 0 10px;
    }

    input {
        width: 40%;
        outline: none;
        padding: 5px;
    }

}

.group-checkbox {

    text-align: left;

    input {
        opacity: 0;
        height: 0;
        width: 0;
        cursor: pointer;
    }

    label {

        cursor: pointer;
        padding-left: 40px;
        position: relative;

        &::before {

            content: "";
            position: absolute;
            left: 0;
            top: -4px;
            width: 22px;
            height: 22px;
            background-color: var(--white);
            border: 2px solid #7b7979;
        }

        i {

            position: absolute;
            left: 2px;
            top: -2px;
            color: var(--black);
            transform: scale(0);
            font-size: 21px;
            transition: transform 0.1s ease-in-out;
        }

    }

}

input:checked + label i {
    transform: scale(1);
}


/* Start Product*/

.product-card {
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}

.product-card:hover {
    background-color: var(--second-bg-color);
}

.product-card-img {
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-img img {
    max-height: 100%;
    transition: all 0.3s ease-in-out;
}

.product-card-img img:nth-child(2) {
    display: none;
}

.product-card:hover .product-card-img img:nth-child(1) {
    display: none;
}

.product-card:hover .product-card-img img:nth-child(2) {
    display: block;
}

.product-card-info {
    padding: 20px;
    text-align: center;
    position: relative;
}

.product-card-name {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-card-price {
    font-size: 15px;
}

.product-card-price .curr-price {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    color: var(--red);
}

.product-btn {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
}

.product-card:hover .product-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.product-btn > * ~ * {
    margin-left: 5px;
}

.btn-shop-now,
.btn-cart-add {
    font-size: 15px;
    padding: 5px 10px;
    line-height: 17px;
    cursor: pointer;
}



.product-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img > img {
    max-width: 70%;
}

.product-img-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img-item {
    width: 90px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid var(--third-bg-color);
}

.product-img-item:hover {
    background-color: var(--second-bg-color);
}

.product-row {
    padding: 45px 0;
}

.product-info > * ~ * {
    margin-top: 25px;
}

.product-info-detail-title {
    font-weight: 600;
    color: gray;
}

.product-description {
    font-size: 18px;
    text-align: justify;
}

.product-info-price {
    font-weight: 600;
    font-size: 30px;
    color: var(--red);
}

.product-quantity-wrapper {
    display: flex;
    align-items: center;
}

.product-quantity {
    margin: 0 10px;
    font-size: 25px;
}

.product-quantity-btn {
    height: 30px;
    width: 30px;
    background-color: gray;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.product-quantity-btn i {
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
}



/* End Product*/


@media only screen and (max-width: 1280px) {

    .product-btn {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        position: relative;
        margin-bottom: 20px;
    }


    .filter-toggle-box {
        display: block;
    }

    .filter-col {
        position: fixed;
        width: 100%;
        background-color: var(--white);
        z-index: 98;
        left: 100%;
        height: 80vh;
        overflow-y: scroll;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: left 0.2s ease-in-out;
    }

    .filter-col.active {
        left: 0;
    }

    .product-btn {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        position: relative;
        margin-bottom: 20px;
    }

    .pagination {
        justify-content: center;
    }


}