/*
=================
Hero Area
=================
*/

.hero {

   .glide__slides {
      background-color: var(--grey2);
      position: relative;
      height: calc(90vh - 6rem);
      margin: 0 4rem;
      overflow: hidden;
   }

   .center {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      height: 100%;
   }

   .left {
      position: absolute;
      top: 30%;
      left: 10px;
      transition: all 1000ms ease-in-out;

      h1 {
         font-size: 5rem;
         margin: 1rem 0;
      }

      p {
         font-size: 1.6rem;
         margin-bottom: 1rem;
      }

      .hero-btn {
         display: inline-block;
         padding: 1rem 3rem;
         font-size: 1.6rem;
         margin-top: 1rem;
         background-color: var(--yellow);
         color: white;
      }
   }

   .right {
      flex: 0 0 50%;
      height: 100%;
      position: relative;
      text-align: center;
   }

}

.center {

   .right img.img1 {
      width: 85%;
      right: -25%;
      bottom: -50%;
   }

   .right img {
      bottom: -3%;
      opacity: 1;
   }
}

.glide__slide--active {

   .left {
      opacity: 1;
      top: 35%;
   }
}



/*
======================
Hero Media Query
======================
*/

@media only screen and (max-width: 999px) {
   .glide__slide--active .left {
      top: 15%;
   }

   .center {

      .right {

         img.img1 {
            width: 90%;
         }
      }
   }

}


@media only screen and (max-width: 567px) {

   .center {

      .right {

         img.img1 {
            width: 30rem;
         }

      }

   }

   .hero,
   .hero .glide__slides {
      margin: 0;
      padding: 0 3rem;
   }

   .hero .left h1 {
      font-size: 3rem;
   }

   .hero .left span {
      font-size: 1.4rem;
   }
   .hero .left p {
      font-size: 1.5rem;
      width: 80%;
   }

}